<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <style>
    a {
      text-decoration: none;
      font-size: 1.5rem;
      display: block;
    }
  </style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/github">login with github</a>
    <a href="/auth/google">login with Google</a>
  </body>
</html>